h1 {
    font-family: 'Grand Hotel', cursive;
    color: #78777C;
}

i.fa-instagram {
    font-size: 35px;
}

i.fa-cog, .fa-th, .fa-square, .fa-map-marker-alt, .fa-camera, .fa-heart , .fa-ellipsis-v{
    font-size: 1rem;
}

.pageheader {
    color: #78777C;
}

.card-body-fluid > img {
    width: 100%;
    object-fit: contain;
}

.cascadefeed {
    background: #e2e2e2;
}   

.gridrow {
    height: 300px;
}

.modalbtn {
    width: 40px;
    padding: 4px 0px 4px 0px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #777778;
}

a, a:hover {
    color: #777778;
}
